<%- include('../includes/head.ejs') %>
<body>
    <%- include('../includes/nav.ejs') %>
    <main>
    <% if(errorMessage){ %>
        <div class="errorMessage"> <%= errorMessage %>  </div>
    <% } %>
    <form action="/resetPassword" method="POST">
        <input  type='email' name='email' placeholder="email">
        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
        <button type='submit'>reset</button>
    </form>
    </main>
</body>